//=====================
// COLORS PRIMARY
//=====================
$color-primary-PinkPeach: hsl(344, 81%, 51%);
$color-primary-CommonYellow: hsl(46, 97%, 55%);
$color-primary-BleakOrange: hsl(21, 77%, 50%);
$color-primary-SimmyBlue: hsl(226, 85%, 46%);
$color-primary-LightBlue: hsl(220, 99%, 60%);
$color-primary-DuskRed: hsl(19, 90%, 36%);
$color-primary-HeavenlyWhite: hsl(0, 0%, 100%);
$color-primary-PureBlack: hsl(0, 0%, 0%);
$color-primary-DirtyBlack: hsl(45, 4%, 18%);
